<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imooc.module_setting">

    <application>
        <activity android:name=".views.ZhihuActivity"/>
        <activity android:name=".views.JuejinActivity"/>
        <activity android:name=".views.AndroidOfficialActivity"/>
        <activity android:name=".views.NotesActivity"/>
        <activity android:name=".views.AboutMeActivity"/>
        <activity android:name=".views.CsdnActivity"/>
        <activity android:name=".views.InformationActivity"/>
        <activity android:name=".WebPagerActivity" />
        <activity android:name=".NetViewActivity" />
        <activity android:name=".DashBoardActivity" />
        <activity android:name=".SettingActivity" />
    </application>

</manifest>